
    {% extends 'base.html' %}
    {% load static %}
    
    {% block static %}
    <link rel="stylesheet" href="{% static 'requisites.css'%}">
    <link rel="stylesheet" href="{% static 'about.css'%}">
    <style>
        .adv-title1{
            margin-top: 0px;
            font-family: 'ProbaPro-Regular';
            color: #333333;
            /* text-transform: uppercase; */
            margin-bottom: 1vw;
            font-size: 1.5vw;
        }
        .adv-title{
            font-family: 'ProbaPro-Regular';
            color: #333333;
            /* text-transform: uppercase; */
            margin-bottom: 1vw;
            font-size: 1.5vw;
            margin-top: 2vw;
        }
    </style>
    {% endblock %}
    
    {% block content %}


        <div class="nav">Главная — Информация — Преимущества
        </div>
        <div class="title">Преимущества
        </div>

        <div class="body-help">
            <div class="help_side">
                <a href="{% url 'about' %}"><div class="help_side-item ">О кампании</div></a>
                <a href="{% url 'advantage' %}"><div class="help_side-item active">Преимущества</div></a>
                <a href="{% url 'ytp' %}"><div class="help_side-item ">Уникальное торговое предложение (УТП)</div></a>
                <a href="{% url 'contact' %}"><div class="help_side-item ">Контакты</div></a>
                <a href="{% url 'opt' %}"><div class="help_side-item ">Оптовикам</div></a>
            </div>
            <div class="help_body" style="font-family: 'ProbaPro-Regular'; color: #868686;font-size: 1vw;margin-bottom: 10vw;">

                <div class=" adv-title1"> Выгодные инвестиции</div>
                Мы уделяем большое внимание своим деловым партнерам и их развитию, поэтому нами была разработана специальная система обучения, которая позволяет в максимально сжатые сроки освоить основные методики успешных продаж, а также изучить и представить своим клиентам все преимущества торговой марки INCITY. На регулярной основе проводятся обучающие тренинги для наших партнеров, которые позволяют им всегда быть в курсе последних событий жизни компании и держать руку «на пульсе» своего бизнеса.
                
                <div class="adv-title">Надежный партнер</div>
                Договорные отношения компании со всеми франчайзи во всех регионах России строго регламентированы законами Российской Федерации и дают нашим партнерам 100% уверенность в выполнении компанией АО Модный Континент своих обязательств.
                
                <div class="adv-title">Рекламная поддержка в масштабах страны</div>
                Кроме обеспечения своих партнеров всеми необходимыми информационными и рекламными материалами, компания Модный Континент оказывает всестороннюю PR поддержку торговой марки INCITY и рекламные компании, проводя на регулярной основе различные промо акции в масштабах всей страны. Это позволяет постоянно поддерживать внимание целевой аудитории к торговой марке и привлекать внимание новых покупательниц во все магазины сети.
                
                <div class="adv-title">Информационная поддержка</div>
                Высококвалифицированный и опытный персонал, отвечающий за развитие компании, поддерживает наших деловых партнеров не только на первом этапе развития бизнеса, но и в течение всего дальнейшего сотрудничества. Опытные сотрудники компании всегда готовы ответить на любые интересующие Вас вопросы. Специально для информационной поддержки наших региональных партнеров разработана «горячая линия», которая позволяет всегда быть на связи.
                
                



            </div>
        </div>





        {% endblock %}
