
        {% extends 'base.html' %}
        {% load static %}
        
        {% block static %}
        <link rel="stylesheet" href="{% static 'requisites.css'%}">
        <link rel="stylesheet" href="{% static 'delivery.css'%}">
        {% endblock %}
        
        {% block content %}


        <div class="nav">Главная — Помощь — Доставка</div>
        <div class="title">Доставка</div>


        <div class="body-help">
            <div class="help_side">
                <a href="{% url 'delivery' %}"><div class="help_side-item active">Условия доставки</div></a>
                <a href="{% url 'warranty' %}"><div class="help_side-item ">Гарантия на товар</div></a>
                <a href="{% url 'return_and_exchange' %}"> <div class="help_side-item">Обмен и возврат</div></a>
                <a href="{% url 'requisites' %}"><div class="help_side-item ">Реквизиты</div></a>
            </div>
            <div class="help_body">
                <div class="delivery">
                    <div class="delivery__title"> Курьерская доставка</div>
                    
                    Доставка осуществляется по всей территории России курьерской службой от 3 до 7 дней. 
                    <br><br>
                    Порядок и условия доставки курьерской службой:
                    <br><br>
                    1. Покупатель проверяет целостность индивидуальной упаковки товара и комплектность заказа.<br>
                    2. Покупатель при необходимости и такой возможности примеряет товар.<br>
                    3. Покупатель принимает решение о выкупе заказа:<br>
                        - При выкупе заказа курьер пробивает кассовый чек на сумму заказа и передает его Покупателю. Покупатель ставит подпись в доставочных документах.<br>
                        - При отказе от заказа Покупатель ставит подпись в доставочных документах, указав причину отказа от заказа.<br>




                        <div class="delivery__title se">Самовывоз из розничного магазина Bella-prestige </div>
                    Заказы в розничные магазины доставляются бесплатно от 3 до 7 дней;<br>
                    Приблизительный срок доставки будет рассчитан при оформлении заказа;<br>
                    Вы сможете примерить товар перед покупкой и вернуть не подошедшие товары на кассу;<br>
                    Оплата возможна наличными и банковской картой;<br>
                    Обратите внимание, что заказы в магазинах Bella-prestige хранятся не более 10 дней с момента их поступления;<br>
                    Срок хранения заказа может быть продлен не более, чем на 1 день.<br>

                </div>
            </div>
        </div>
        






        {% endblock %}
