
{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'requisites.css'%}">
{% endblock %}

{% block content %}


        <div class="nav">Главная — Помощь — Реквизиты компании</div>
        <div class="title">Реквизиты компании</div>


        <div class="body-help">
            <div class="help_side">
                <a href="{% url 'delivery' %}"><div class="help_side-item ">Условия доставки</div></a>
                <a href="{% url 'warranty' %}"><div class="help_side-item ">Гарантия на товар</div></a>
                <a href="{% url 'return_and_exchange' %}"> <div class="help_side-item">Обмен и возврат</div></a>
                <a href="{% url 'requisites' %}"><div class="help_side-item active">Реквизиты</div></a>
            </div>
            <div class="help_body">
                <div class="requisites">
                    <div class="requisites__title">Карточка основных сведений  организации</div>
                    <div class="requisites__table">
                        <table class="table">
                            <thead>
                                <th>Полное наименование организации:	</th>
                                <th>Акционерное общество «Модный Континент»</th>	
                            </thead>
                            <tbody>
                                <tr> 
                                    <th >Сокращенное наименование организации:		</th>
                                    <td>АО «Модный Континент»
                                    </td>	
                                </tr>
                                <tr>
                                    <th>Адрес места нахождения (Юридический адрес):		</th>
                                    <td>121151, г. Москва, Набережная  Тараса Шевченко, дом 23А, этаж цок.02 помещение I ч. комнаты 72
                                    </td>								
                                    
                                </tr>
                                <tr>
                                    <th>Полные регистрационные данные		</th>
                                    <td>Дата регистрации:   20 февраля 2008г. Полное наименование органа, проводившего государственную регистрацию: Межрайонная инспекция Федеральной налоговой службы №46 по г. Москве
                                    </td>								
                                </tr>
                                <tr>
                                    <th>Данные о постановке в налоговом органе		</th>
                                    <td>Полное наименование ИФНС: Инспекция Федеральной налоговой службы №30 по г. Москве   Дата постановки на налоговый учет: 07.02.2020 г. Код  7730
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Данные об исполнительном органе		</th>
                                    <td>Генеральный директор: Петровнина Ольга Валерьевна Действует на основании Устава.
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Контактный телефон:			</th>
                                    <td>8 (495) 252-24-35; 8 (499) 929-04-94; 8 800 100-83-33
                                    </td>								
                                    
                                </tr><tr>
                                    <th>ОГРН	</th>
                                    <td>1087746249832
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Номер рублевого счета			</th>
                                    <td>40702810200014144112
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Полное наименование банка		</th>
                                    <td>АО ЮНИКРЕДИТ БАНК Г. МОСКВА
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Корреспондентский счет		</th>
                                    <td>30101810300000000545
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Банковский идентификационный  код (БИК)		</th>
                                    <td>044525545
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Коды по ОКВЭД			</th>
                                    <td>47.71
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Код по ОКПО ОКОНХ		</th>
                                    <td>70054227 71500
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Код ОКТМО		</th>
                                    <td>45318000
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Генеральный директор		</th>
                                    <td>Гаспаров Вячеслав Суренович
                                    </td>								
                                    
                                </tr><tr>
                                    <th>Главный бухгалтер		</th>
                                    <td>Ставицкая Алевтина Павловна
                                    </td>								
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="requisites_under">
                    <div class="requisites_under-title">Почтовый адрес : </div>
                    <div class="requisites_under-body">121151, г. Москва, наб. Тараса Шевченко, д.23А</div>
                </div>
            </div>
        </div>
        












        {% endblock %}
