
{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'requisites.css'%}">
<link rel="stylesheet" href="{% static 'return_and_exchange.css'%}">
{% endblock %}

{% block content %}


        <div class="nav">Главная — Помощь — Обмен и возврат
        </div>
        <div class="title">Обмен и возврат
        </div>


        <div class="body-help">
            <div class="help_side">
                <a href="{% url 'delivery' %}"><div class="help_side-item ">Условия доставки</div></a>
                <a href="{% url 'warranty' %}"><div class="help_side-item ">Гарантия на товар</div></a>
                <a href="{% url 'return_and_exchange' %}"> <div class="help_side-item active">Обмен и возврат</div></a>
                <a href="{% url 'requisites' %}"><div class="help_side-item ">Реквизиты</div></a>
            </div>
            <div class="help_body">


                <div class="return__title-main">
                    Правила отмены заказов и возврата
                </div>

                <div class="return__title">
                    В момент получения заказа вам необходимо 
                </div>
                <div class="return__body">
                    — Проверить целостность упаковки товара (Проверьте наличие накладной на товар в пакете. Приёмка/возврат товара осуществляется в соответствии с накладной)<br>
                    — Проверить соответствие привезенного товара заказанному вами<br>
                    — Удостовериться в качестве приобретаемого товара<br>
                    — Сохраните накладную в течение 30 дней (на случай возврата)<br>
                    — При отсутствии нареканий в момент приема товара, оплатите стоимость товара и услуг по доставке и подтвердите своей подписью в бланке заказа, что не имеете претензий к ассортименту, количеству, внешнему виду, комплектации товара.
                    <br><br>
                    Претензии по цвету, количеству и размеру после оплаты товара не принимаются!
                    <br><br>
                    Во избежание недоразумений относительно цвета заказываемого товара, обращаем Ваше внимание, что подлинные цвета изделий могут отличаться от цветов и оттенков на сайте, в зависимости от цветопередачи Вашего монитора.
                    <br><br>
                    Во избежание недоразумений относительно размера заказываемого товара, просим Вас внимательно ознакомиться с общепринятыми стандартами в разделе Таблица размеров.
                    <br><br>
                    При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования (ст. 26.1 Закона РФ от 07.02.1992 N 2300-1 «О защите прав потребителей»).


                </div>


                <div class="return__title">Отмена заказа
                </div>
                <div class="return__body">
                    Согласно «Закону о защите прав потребителей», Вы можете отказаться от заказа в любой момент. Если по каким-либо причинам Вы решили отказаться от заказа, пожалуйста, свяжитесь с сотрудниками отдела продаж по телефону 8-800-100-8-333 и назовите причину отказа.
                </div>
                <div class="return__title">Возврат товара в магазин

                </div>
                <div class="return__body">
                    В целях улучшения сервиса INCITY, предоставляет вам возможность сделать возврат товара из интернет-магазине в розничную сеть магазинов INCITY. Обращаем ваше внимание, что товар подлежит возврату в течение 30 дней с комплектом документов:
                    <br><br>
                    1. Заявление на возврат ( печать )<br>
                    2. Копия паспорта - стр. 1 и 2. (или иного другого документа, удостоверяющего личность)<br>
                    3. Копия накладной и чека<br><br>
                    Обратите внимание, что возврат в магазине осуществляется, только на основании номера заказа. Если номер заказа Вы забыли, узнать номер можно по тел. 8 - 800 - 100-29 – 99. Звонок бесплатный. При себе необходимо иметь: паспорт, товарный и кассовый чек. В случае отсутствия товарного и кассового чека решение о возврате принимается в магазине, на основании вашего заявления.
                </div>

                <div class="return__title">Возврат товара Почтой России      </div>
                <div class="return__body">
                    Если товар был приобретен в интернет-магазине, возврат осуществляется в течение 30 дней.<br>
                    Возможно вернуть товар с помощью почтового отправления в наш адрес: <br><br>

                    <b> Внимание! Возврату по Почте подлежат только заказы, полученные курьерской доставкой. Заказы, полученные в розничных магазинах INCITY, вы можете вернуть в любой магазин INCITY.</b>
                    Вместе с возвращаемым товаром необходимо приложить следующие документы:

                    Заявление на возврат <br>
                    Копия паспорта - стр. 1 и 2. (или иного другого документа, удостоверяющего личность)<br>
                    Копия накладной и чека<br>
                    Отправить посылку нужно на адрес: пос. г. т. Быково, Раменский Район, Московская Область Улица Параллельная, дом 10 индекс 140150, АО «Модный Континент».<br>
                    Рекомендуем отправить посылку с объявленной стоимостью.<br><br>

                    Компания АО Модный континент не компенсирует стоимость за почтовое отправление.<br><br>

                    При возникновении дополнительных вопросов вы можете обратиться на горячую линию:  8-800-100-29-99<br><br>
                    <b>ВАЖНО! После отправки заказа почтой России, просьба прислать Ваш трек номер с номером заказа, для ускорения процесса возврата, нам на электронную почту tuktuk@Bella-prestige.ru</b>
                </div>
                <div class="return__title">Возврат товара ненадлежащего качества

                </div>
                <div class="return__body">
                    Предусмотрен в том случае, если вам доставили товар с заводским браком, в ходе эксплуатации был обнаружен скрытый дефект или привезенная вещь не соответствует тому, что вы заказывали.
                </div>
            </div>
        </div>
        
        {% endblock %}

       