

{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'servicerules.css'%}">
{% endblock %}

{% block content %}
        <div class="nav">Главная - Уход за материалами</div>
        <div class="servicerules">
            <div class="servicerules__title">Уход за материалами
            </div>
            <div class="servicerules__body">
                <div class="servicerules__body-description">
                    В зависимости от конкретного материала, из которого изготовлена та или иная вещь, она требует определенных условий хранения и ухода.
                    <span>Соблюдение общепринятых правил и стандартов позволит сохранить прекрасный внешний вид изделия и существенно продлить срок его службы. Ниже приведены наиболее распространенные типы тканей, из которых изготавливается современная одежда и правила обращения с ними.</span>
                </div>
                <div class="servicerules__body-wrapper">
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Шерсть</div>
                        <div class="servicerules__body-item-body">
                            Один из наиболее ценных материалов животного происхождения, обладающих теплозащитными, гигиеничными и эластичными свойствами. Изделия из шерсти рекомендуется стирать при температуре 30 градусов, после стирки тщательно прополаскивать большом количестве холодной воды. По возможности избегать отбеливания и просушивать их расстелив на горизонтальную плоскость в удалении от явных источников тепла.
                        </div>
                    </div>
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Шелк</div>
                        <div class="servicerules__body-item-body">

                            Утонченный и нежный материал, пользующийся большим спросом на протяжении многих сотен лет. При стирке шелковых однотонных изделий в домашних условиях следует использовать слегка теплую воду, температурой до 30 градусов, мыльный раствор и специальный кондиционер для шелка. После стирки такие изделия необходимо тщательно полоскать в теплой воде и отжимать без применения чрезмерных усилий. Гладить шелковые изделия необходимо при низкой температуре через влажную ткань.                        </div>
                    </div>
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Хлопок</div>
                        <div class="servicerules__body-item-body">
                            Один из самых распространенных в мире материалов. Изделия из хлопка должны стираться при максимальной температуре 30 градусов. Перед влажно-тепловой обработкой их рекомендуется увлажнить и утюжить при максимальных температурах.
                        </div>
                    </div>
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Лен</div>
                        <div class="servicerules__body-item-body">
                            Ценное натуральное волокно, обладающее великолепными потребительскими свойствами. Льняные вещи рекомендуется не отжимать после стирки и утюжить при высокой температуре с увлажнением.
                        </div>
                    </div>
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Ацетат</div>
                        <div class="servicerules__body-item-body">
                            Волокно, получаемое из целлюлозы и отходов производства древесины. Требует деликатной щадящей стирки в слегка теплой воде. Гладить изделия из вискозы следует при средних температурах.
                        </div>
                    </div>
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Полиэфир/полиэстер
                        </div>
                        <div class="servicerules__body-item-body">
                            Износостойкий материал, получаемый искусственным путем. Изделия из полиэстера не нуждаются в деликатной стирке, но гладить их необходимо исключительно при низких температурах.
                        </div>
                    </div>
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Нейлон</div>
                        <div class="servicerules__body-item-body">
                            Не сминаемое и износостойкое синтетическое волокно. Эта ткань одна из наиболее неприхотливых — изделия из нее не нуждаются в деликатной стирке, стираются обычно при низких температурах и не отжимаются.
                        </div>
                    </div>
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Акрил</div>
                        <div class="servicerules__body-item-body">
                            Синтетическое волокно, добавляемое к шерстяным тканям. Особо деликатные вещи из этой ткани необходимо стирать вручную, осторожно отжимая и просушивая на вешалке. Гладить такие изделия рекомендуется при средне-низких температурах.
                        </div>
                    </div>
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Деним</div>
                        <div class="servicerules__body-item-body">
                            Прочная хлопчатобумажная ткань, используемая при пошиве джинсовой одежды. Во избежание выцветания изделий их рекомендуется стирать предварительно вывернув наизнанку. Внешние характеристики денима являются результатом специального метода окраски. В результате этого частицы пигмента могут оставаться на поверхности ткани и краситься.
                        </div>
                    </div>
                    <div class="servicerules__body-item">
                        <div class="servicerules__body-item-title">Кожа</div>
                        <div class="servicerules__body-item-body">
                            Материал животного происхождения. В виду сложности создания и выделки материала, изделия из кожи требуют профессиональной химической чистки на специальном оборудовании.
                        </div>
                    </div>

                    <div class="servicerules__under">
                        Также следует обратить внимание на ярлыки, которые имеются на каждом элементе одежды или текстильном изделии. Данные обозначения помогут Вам определить, при каких условиях следует стирать, сушить, гладить и чистить ту или иную вещь.
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}


        