
        {% extends 'base.html' %}
        {% load static %}
        
        {% block static %}
        <link rel="stylesheet" href="{% static 'requisites.css'%}">
        <link rel="stylesheet" href="{% static 'warranty.css'%}">
        {% endblock %}
        
        {% block content %}

        <div class="nav">Главная — Помощь — Гарантия на товар
        </div>
        <div class="title">Гарантия на товар
        </div>


        <div class="body-help">
            <div class="help_side">
                <a href="{% url 'delivery' %}"><div class="help_side-item ">Условия доставки</div></a>
                <a href="{% url 'warranty' %}"><div class="help_side-item active">Гарантия на товар</div></a>
                <a href="{% url 'return_and_exchange' %}"> <div class="help_side-item">Обмен и возврат</div></a>
                <a href="{% url 'requisites' %}"><div class="help_side-item ">Реквизиты</div></a>
            </div>
            <div class="help_body">
                <div class="help-body-wrapper">
                Гарантийный период – это срок, во время которого клиент, обнаружив недостаток товара имеет право потребовать от продавца или изготовителя принять меры по устранению дефекта. Продавец должен устранить недостатки, если не будет доказано, что они возникли вследствие нарушений покупателем правил эксплуатации.

                <div class="help_body-title"> С какого момента начинается гарантия?</div>
                — с момента передачи товара потребителю, если в договоре нет уточнения;<br>

                 — если нет возможности установить день покупки, то гарантия идёт с момента изготовления;<br>

                 — на сезонные товары гарантия идёт с момента начала сезона;<br>

                 — при заказе товара из интернет-магазина гарантия начинается со дня доставки.<br><br>


                Обслуживание по гарантии включает в себя:<br><br>


                
                — устранение недостатков товара в сертифицированных сервисных центрах;<br>

                — обмен на аналогичный товар без доплаты;<br>

                — обмен на похожий товар с доплатой;<br>

                — возврат товара и перечисление денежных средств на счёт покупателя.<br>

                 <div class="help_body-title">Правила обмена и возврата товара:</div>
                <div class="help_body-title-mini"> Обмен и возврат продукции надлежащего качества</div>
                Продавец гарантирует, что покупатель в течение 7 дней с момента приобретения товара может отказаться от товара надлежащего качества, если:
                <br>
                <br>

                — товар не поступал в эксплуатацию и имеет товарный вид, находится в упаковке со всеми ярлыками, а также есть документы на приобретение товара;<br>
                — товар не входит в перечень продуктов надлежащего качества, не подлежащих возврату и обмену.
                 <br>
                 <br>
Покупатель имеет право обменять товар надлежащего качество на другое торговое предложение этого товара или другой товар, идентичный по стоимости или на иной товар с доплатой или возвратом разницы в цене.
                
                <div class="help_body-title-mini">Обмен и возврат продукции ненадлежащего качества</div>
                Если покупатель обнаружил недостатки товара после его приобретения, то он может потребовать замену у продавца. Замена должна быть произведена в течение 7 дней со дня предъявления требования. В случае, если будет назначена экспертиза на соответствие товара указанным нормам, то обмен должен быть произведён в течение 20 дней.
                <br>
                <br>

                Технически сложные товары ненадлежащего качества заменяются товарами той же марки или на аналогичный товар другой марки с перерасчётом стоимости. Возврат производится путем аннулирования договора купли-продажи и возврата суммы в размере стоимости товара.
                
                <div class="help_body-title-mini">Возврат денежных средств</div>
                Срок возврата денежных средств зависит от вида оплаты, который изначально выбрал покупатель.
                <br><br>
                При наличном расчете возврат денежных средств осуществляется на кассе не позднее через через 10 дней после предъявления покупателем требования о возврате.
                <br><br>

                Зачисление стоимости товара на карту клиента, если был использован безналичный расчёт, происходит сразу после получения требования от покупателя.
                <br>
                <br>
                
                При использовании электронных платёжных систем, возврат осуществляется на электронный счёт в течение 10 календарных дней.
                
                </div>

            </div>
        </div>

                
        {% endblock %}
